<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar aluno</title>
   <!--<link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">-->
    <link rel="stylesheet" href="../static/bootstrap.css">                 
</head>
<body>


    <ul class="nav justify-content-end">
        
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('home')}}">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('cadastrar_aluno')}}">Cadastrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sair">Sair</a>
        </li>
      </ul>




    <div class="container">
    <form method="post" action="/atualiza">

      <!-- a linha abaixo cria um objeto oculto na página-->
       <input type="hidden" name="txtRA" value="{{aluno.ra_aluno}}">



    <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input class="form-control" required type="text" name="txtNome" value="{{aluno.nome_aluno}}">
        </div>   

        <div class="mb-3">
            <label class="form-label">Idade:</label>
            <input class="form-control" required type="text" name="txtIdade" value="{{aluno.idade_aluno}}">
         </div>

        <div class="mb-3">
            <label class="form-label">E-mail:</label>
            <input class="form-control" required type="text" name="txtEmail" value="{{aluno.email_aluno}}">
        </div>
        
        
    
            <button class="btn btn-primary" onclick="enviar()" type="submit">Atualizar</button>
 
        
    </form>
</div>
    <!--Adicionando o o Javascript-->
    <script src="{{url_for('static', filename= 'script.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>